{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "android >= 4.4"]
        },
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "stage-1"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
